
http://jira.reload.dk, http://jira.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/
}

http://support.reload.dk, http://support.redir.dev {
    bind 0.0.0.0
    # Caddy will ad a trailing slash. And Jira will stumple upon it if we dont add the trailing &.
    redir https://reload.atlassian.net/secure/RapidBoard.jspa?rapidView=254&quickFilter=920&
}

http://confluence.reload.dk, http://confluence.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki
}

http://wiki.reload.dk, http://wiki.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki/display/RW
}

http://security.reload.dk, http://security.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki/spaces/RW/pages/89030669/Sikkerhedstriage
}

http://liftoffcph.dk, http://www.liftoffcph.dk {
    bind 0.0.0.0

    redir / https://reload.dk{uri}
}
