
http://jira.reload.dk, http://jira.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/
}

http://confluence.reload.dk, http://confluence.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki
}

http://wiki.reload.dk, http://wiki.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki/display/RW
}

http://db-dump.reload.dk, http://db-dump.redir.dev {
    bind 0.0.0.0
    redir https://hub.docker.com/r/reload/db-data/tags/
}
