
http://jira.reload.dk, http://jira.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/
}

http://support.reload.dk, http://support.redir.dev {
    bind 0.0.0.0
    # Caddy will ad a trailing slash. And Jira will stumple upon it if we dont add the trailing &.
    redir https://reload.atlassian.net/secure/RapidBoard.jspa?rapidView=254&quickFilter=920&
}

http://rancher.reload.dk, http://rancher.redir.dev {
    bind 0.0.0.0
    redir https://alpha.reload.dk:8080/
}

http://confluence.reload.dk, http://confluence.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki
}

http://wiki.reload.dk, http://wiki.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki/display/RW
}

http://security.reload.dk, http://security.redir.dev {
    bind 0.0.0.0
    redir https://reload.atlassian.net/wiki/spaces/RW/pages/89030669/Sikkerhedstriage
}

http://db-data.reload.dk, http://db-dump.reload.dk, http://db-data.redir.dev, http://db-dump.redir.dev, http://gcr.reload.dk {
    bind 0.0.0.0

    rewrite {
        regexp ^/(\w+)$
        to /_user?authuser={1}@reload.dk
    }

    redir /_user https://console.cloud.google.com/gcr/images/reloaddk-data/EU/db-data?project=reloaddk-data&authuser={?authuser} 302
    redir / https://console.cloud.google.com/gcr/images/reloaddk-data/EU/db-data?project=reloaddk-data 302
}
